.programs {
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.program {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: calc(100% / 12 * 4 - 20px);
  position: relative;
}
.program-img {
  max-width: 428px;
}
.program-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: all 0.2s linear;
}

.caption-icon {
  width: 60px;
  margin-bottom: 10px;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* Media */

@media (max-width: 850px) {
  .program {
    width: calc(100% / 12 * 6 - 20px);
  }
}

@media (max-width: 650px) {
  .programs {
    margin: 40px auto;
  }
}

@media (max-width: 500px) {
  .program {
    width: 100%;
  }
}
